<!DOCTYPE html>
<!-- https://vast-caverns-43661.herokuapp.com/ -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tian's ePortfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>

    <script src="app.js"></script>
  </head>

  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img src="images/favicon.ico" alt="">
    <a class="navbar-brand"> &nbsp; Tian's ePortfolio</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="id">Instructional Design</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="el">E-learning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="gra">Graphic Design</a>
        </li>
         <li class="nav-item">
           <a class="nav-link active" href="av">Video&Audio</a>
         </li>
      </ul>
    </div>
  </div>
</nav>
