<%-include('partials/header')-%>


  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Audio & Video Products</h1>

      </div>
    </div>
  </section>

<hr class="divider">


   <!-- <iframe class="video1" src="https://youtu.be/JM_bnwXd7sk" controls>
     <!-- <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.webm">link to the video</a> instead.</p> -->
   <!-- </iframe> -->
 <div class="v1">
 <p>A guidance video <br> for new international students at Concordia University</p>
 <iframe class="video"  src="https://www.youtube.com/embed/q-mq-MSTbZU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>
 <div class="v2">
 <p>Montreal Impression</p>
 <iframe class="video" src="https://www.youtube.com/embed/64sUKxHyQmo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>
<hr class="divider">

<%-include('partials/footer')-%>
