<%-include('partials/header')-%>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Tian's ePortfolio</h1>
        <p class="lead text-muted">Hi there, welcome to my ePortfolio website!<br>I am an instructional designer and an e-learning developer. <br>This place is a showcase of my skills. <br>Hope you enjoy it!<br></p>
      </div>
    </div>
  </section>


  <hr class="divider">

  <div class="row skill">
    <div class="col-lg-6 skillname">
      <h1 class="big-heading"><a href="id">Instructional Design</a></h1>
    </div>
    <div class="col-lg-6">
      <img class="image1" src="https://scontent-lga3-2.xx.fbcdn.net/v/t1.6435-9/158386874_1150081185449070_5620823360199492067_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=0debeb&_nc_ohc=REGhV-alkLoAX8uUn7z&_nc_ht=scontent-lga3-2.xx&oh=d212b874cc09382a127ac6e29c92bba2&oe=60B564FA" alt="iphone-mockup" position="absolute">
    </div>

  </div>

    <hr class="divider">

     <div class="row skill">
       <div class="col-lg-6">
         <img class="image1" src="https://scontent-lga3-2.xx.fbcdn.net/v/t1.6435-9/158848850_1150081208782401_4187292464312108030_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=0debeb&_nc_ohc=n87yzS6uEYAAX8biyDc&_nc_ht=scontent-lga3-2.xx&oh=fd9f5c9a46e9a9cec8c2d8eff0118d64&oe=60B75D8E" alt="iphone-mockup" position="absolute">
       </div>
       <div class="col-lg-6  skillname">
         <h1 class="big-heading"><a href="el">E-learning</a></h1>
       </div>

     </div>

    <hr class="divider">

    <div class="row skill">
      <div class="col-lg-6 skillname">
        <h1 class="big-heading"><a href="gra"">Graphic Design </a></h1>
      </div>
      <div class="col-lg-6">
        <img class="image1" src="https://scontent-lga3-2.xx.fbcdn.net/v/t1.6435-9/157608029_1150081075449081_2404473029775737632_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=0debeb&_nc_ohc=EatV_WAiSOgAX_NAxfj&tn=ZcQay_Jkf2pFIeKO&_nc_ht=scontent-lga3-2.xx&oh=3543baa3f7aa9192e50499451802ad1f&oe=60B8386B" alt="iphone-mockup" position="absolute">
      </div>

    </div>

  <hr class="divider">

   <div class="row skill">
     <div class="col-lg-6">
       <img class="image1" src="https://scontent-lga3-2.xx.fbcdn.net/v/t1.6435-9/158991189_1150080968782425_9031308250427483173_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=0debeb&_nc_ohc=YB0vDmBAAT8AX-LjMI4&_nc_ht=scontent-lga3-2.xx&oh=e6668b0375c6fc246d22dcd05d63e657&oe=60B5538F" position="absolute">
     </div>
     <div class="col-lg-6  skillname">
       <h1 class="big-heading"><a href="av">Video&Audio</a></h1>
     </div>

   </div>


<%-include('partials/footer')-%>
