<%-include('partials/header')-%>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Instructional Design</h1>

      </div>
    </div>
  </section>

<hr class="divider">
    <p class="lead text-muted">Storyboards and screen mock-ups</p>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>

    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://scontent-lga3-2.xx.fbcdn.net/v/t1.6435-9/157506553_1150081132115742_5343098625633093378_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=0debeb&_nc_ohc=9gqAddgN8VsAX8EcgY4&_nc_ht=scontent-lga3-2.xx&oh=f209a5911c26b07db3bd19fc440ce2bc&oe=60B6894D" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p> -->
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://scontent-lga3-2.xx.fbcdn.net/v/t1.6435-9/158876566_1150081222115733_6574397274557798820_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=0debeb&_nc_ohc=hpW1-lhfI_MAX9INe1h&_nc_ht=scontent-lga3-2.xx&oh=148b006fd7866cae30ac4f88cd51a7aa&oe=60B7A0F5" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p> -->
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://scontent-lga3-2.xx.fbcdn.net/v/t1.6435-9/157858155_1151451905311998_234207001163364768_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=0debeb&_nc_ohc=9aQg_Fu1uOkAX9GKZsy&_nc_ht=scontent-lga3-2.xx&oh=a443ef2805bd2f2329b9d431ec89df20&oe=60B726CF" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p> -->
        </div>
      </div>
       <div class="carousel-item">
         <img src="https://scontent-lga3-2.xx.fbcdn.net/v/t1.6435-9/158858709_1151451888645333_1769422504207455154_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=0debeb&_nc_ohc=5jPYddOCEYIAX-5putc&_nc_ht=scontent-lga3-2.xx&oh=b4dc2583edaead32c7aa068fb8505155&oe=60B6D9B7" class="d-block w-100" alt="...">
         <div class="carousel-caption d-none d-md-block">
           <!-- <h5>Second slide label</h5>
           <p>Some representative placeholder content for the second slide.</p> -->
         </div>
       </div>

        <div class="carousel-item">
          <img src="https://scontent-lga3-2.xx.fbcdn.net/v/t1.6435-9/157703198_1151451915311997_8725742670293607630_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=0debeb&_nc_ohc=IuT0y7_0LCIAX-GB6m5&_nc_ht=scontent-lga3-2.xx&oh=130551e0e81243583bd6954e2ac47e36&oe=60B7CA7C" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p> -->
          </div>
        </div>
         <div class="carousel-item">
           <img src="https://scontent-lga3-2.xx.fbcdn.net/v/t1.6435-9/158444491_1150081168782405_6188898685790503590_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=0debeb&_nc_ohc=AMj5eIbpczcAX9T6hM4&_nc_ht=scontent-lga3-2.xx&oh=1d2ec20ab136027d14a23c94df2ab65d&oe=60B87CDE" class="d-block w-100" alt="...">
           <div class="carousel-caption d-none d-md-block">
             <!-- <h5>Second slide label</h5>
             <p>Some representative placeholder content for the second slide.</p> -->
           </div>
         </div>

    </div>
    <button class="carousel-control-prev arrow1" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon pointer1" aria-hidden="true"></span>
      <!-- <span class="visually-hidden">Previous</span> -->
    </button>
    <button class="carousel-control-next arrow2" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
      <span class="carousel-control-next-icon pointer2" aria-hidden="true"></span>
      <!-- <span class="visually-hidden">Next</span> -->
    </button>
  </div>

<%-include('partials/footer')-%>
